<div class="container my-2">
    <h1 class="display-4 text-center">Write Posts</h1>
    <hr>
    <form>
        <div class="mb-3 text-center">
          <label for="title" class="form-label">Title of the post</label>
          <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3 text-center">
          <label for="title" class="form-label">Body of the post</label>
          <textarea class="form-control" id="body"></textarea>
        </div>
        <button id="button" class="btn btn-primary">Create Post</button>
      </form>
</div>
<script src="/app/write-post.js"></script>
